<% include ./partials/header %> 
<div class='ui huge header inverted'>All ADS</div>
<div class='ui medium header inverted'>Total Number of adds Posted:<%=no%></div>
<% foundAll.forEach(function(foundOne){ %> 
 <div class='ui main text container segment'>
    <div class="ui items">
      <div class="item">
        <div class="content">
          <a class="header">Name:<%=foundOne.name%></a>
          <div class="description">
            <h3>Perks:<%=foundOne.perks%></h3>
            <h3>Description:<%=foundOne.description%></h3>
          </div>
        </div>
      </div>
    </div>
    <h4 class="ui horizontal header divider">
        <a href="/<%=foundOne.author.username%>"><%=foundOne.author.username%></a>
      </h4>
  </div>    
<% }); %><br><hr>   
<% include ./partials/footer %>