<% include ./partials/header %>
<div class='ui huge header inverted'><%=username%>'s ADS</div> 
<% foundAuthorAll.forEach(function(foundAuthorOne){ %> 
 <div class='ui main text container segment'>
    <div class="ui items">
      <div class="item">
        <div class="content">
          <a class="header">Name:<%=foundAuthorOne.name%></a>
          <div class="description">
            <p><span style="font-size:19px;">Perks:</span><%=foundAuthorOne.perks%></p>
            <p><span style="font-size:19px;">Category:</span><%=foundAuthorOne.cat%></p>
            <p><span style="font-size:19px;">Location:</span><%=foundAuthorOne.location%></p>
            <p><span style="font-size:19px;">Duration:</span><%=foundAuthorOne.time%></p>
            <p><span style="font-size:19px;">Description:</span><%=foundAuthorOne.description%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }); %><br><hr>   
</div>
<% include ./partials/footer %>