<% include ./partials/header %>
<div> 
 <div class="ui card centered">
  <div class="image">
    <img src="https://static.ts.360.com/home/images/home/avatar3-0836fbe0.jpg">
  </div>
  <div class="content">
    <a class="header" href='/<%=currentUser.username%>/answered'><%=currentUser.username%><sup><%=no%></sup></a>
    <div class="meta">
      <span class="date">Joined on <%=formattedTime%></span>
    </div>
    <div class="description">
      <%=currentUser.about%>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="browser icon"></i>
      <%=no%>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class='ui orange basic mini button' href='/<%=currentUser.username%>/myads/applied'>Applied</a><a class='ui orange basic mini button' type="submit" href='/<%=currentUser.username%>/edit/<%=currentUser._id%>'>Edit</a>
  </div>
 </div>
<div class='ui huge header inverted'>ADS placed by <%=currentUser.username%></div> 
<% foundAuthorAll.forEach(function(foundAuthorOne){ %> 
 <div class='ui main text container segment'>
    <div class="ui items">
      <div class="item">
        <div class="content">
          <a class="header">Name:<%=foundAuthorOne.name%></a>
          <div class="description">
            <p><span style="font-size:19px;">Perks:</span><%=foundAuthorOne.perks%></p>
            <p><span style="font-size:19px;">Category:</span><%=foundAuthorOne.cat%></p>
            <p><span style="font-size:19px;">Location:</span><%=foundAuthorOne.location%></p>
            <p><span style="font-size:19px;">Duration:</span><%=foundAuthorOne.time%></p>
            <p><span style="font-size:19px;">Description:</span><%=foundAuthorOne.description%></p>
          </div>
        </div>
      </div>
    </div>
    <a class='ui orange basic button' type="submit" href='/<%=foundAuthorOne.author.username%>/myads/<%=foundAuthorOne._id%>/edit'>Edit</a><form style="display: inline;" action='/<%=foundAuthorOne.author.username%>/myads/<%=foundAuthorOne._id%>?_method=DELETE' method="POST">
                                <button class='ui red basic button' type='submit'>Delete</button>           
                            </form>
  </div>
<% }); %><br><hr>   
</div>
<% include ./partials/footer %>